@model ProjetoFortes.Presentation.MVC.ViewModels.PedidoViewModel

@{
    ViewBag.Title = "Adicionar";
}

<h2>Adicionar registro</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PedidoId)
        @Html.HiddenFor(model => model.QuantidadeProdutos)
        @Html.HiddenFor(model => model.ValorTotal)
        @Html.HiddenFor(model => model.Data)
        <div class="form-group">
            @Html.LabelFor(model => model.FornecedorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.FornecedorId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("FornecedorId", (SelectList)ViewBag.Fornecedores)
                @Html.ValidationMessageFor(model => model.FornecedorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuantidadeProdutos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuantidadeProdutos, new { htmlAttributes = new { data_val_number = "Supply an integer ", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuantidadeProdutos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ValorTotal, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.ValorTotal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <table class="table" id="produtos">
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Produto
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Subtotal
                    </th>
                    <th></th>
                </tr>

                @if (Model.ItensPedido != null)
                {
                    foreach (var item in Model.ItensPedido)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PedidoId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Produto.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subtotal)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.PedidoId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.PedidoId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.PedidoId })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            Nenhum produto adicionado!
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Adicionar Produto</button>
                @*<input type="submit" value="Create" id="AdicionaProduto" class="btn btn-default" />*@
            </div>
        </div>

    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar produtos ao pedido</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">Produto:</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("ProdutoId", (SelectList)ViewBag.Produtos)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Quantidade:</label>
                                <div class="col-md-10">
                                    <input type="text" name="QuantidadeProduto" id="QuantidadeProduto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                     <input type="submit" value="Create" id="AdicionaProduto" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#btnAdiciona").click(function () {
                console.log("FOi");
                //$('#produtos tbody').append('<tr class="child"><td></td><td></td><td></td><td></td></tr>');
                $('#AdicionaProduto').click();
            });
        });
      
    </script>
}
