@model ProjetoFortes.Presentation.MVC.ViewModels.PedidoViewModel

@{
    ViewBag.Title = "Editar";
}

<h2>Editar registro</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PedidoId)
        @Html.HiddenFor(model => model.QuantidadeProdutos)
        @Html.HiddenFor(model => model.ValorTotal)
        @Html.HiddenFor(model => model.Data)
        <div class="form-group">
            <div class="form-group">
                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Model.Codigo
                </div>
            </div>
      
            @Html.LabelFor(model => model.FornecedorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FornecedorId", (SelectList)ViewBag.Fornecedores)
                @Html.ValidationMessageFor(model => model.FornecedorId, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <table class="table">
        <tr>
            <th>
                Código
            </th>
            <th>
               Produto
            </th>
            <th>
               Quantidade
            </th>
            <th>
               Subtotal
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ItensPedido)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td>
                    @Html.ActionLink("Excluir", "DeleteItemPedido", new { idPedido = Model.PedidoId , idProduto = item.Produto.Codigo })
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">
                Totais
            </td>
            <td>
                @Model.ItensPedido.ToList().Sum(x => x.Quantidade)
            </td>
            <td>
                R$ @Model.ItensPedido.ToList().Sum(x => x.Subtotal)
            </td>
            <td></td>
        </tr>

    </table>
}

<div>
    <div class="form-group">
        <div>
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
