@model IEnumerable<ProjetoFortes.Presentation.MVC.ViewModels.FornecedorViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Listagem</h2>

<p>
    @Html.ActionLink("Adicionar um registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmailContato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeContato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmailContato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeContato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UF)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FornecedorId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.FornecedorId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.FornecedorId })
        </td>
    </tr>
}

</table>
